@import "x.css";

p {
  padding-bottom: 0;
  margin-bottom: calc(-0.5 * var(--x));

  word-wrap: break-word;
}

a {
  background-color: transparent;
}

pre>code {
  width: 100%;
  margin: calc(0.8 * var(--x)) 0 0;
  padding: calc(0.6 * var(--x)) calc(0.6 * var(--x));

  border: calc(0.1 * var(--x)) solid;
  border-radius: calc(0.3 * var(--x));
}

code {
	display: inline-block;
  max-width: 100%;

  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: "Roboto Mono", monospace;
  font-size: 85%;

  color: inherit;
  font-weight: 300;
  line-height: inherit;
}

h1 {
  margin: calc(2 * var(--x)) 0 calc(0.1 * var(--x));
  padding-bottom: calc(0.1 * var(--x));

  border-bottom: calc(0.1 * var(--x)) solid;
}

h2 {
  margin: calc(2 * var(--x)) 0 0;
  padding-top: 0;
	padding-bottom: 0;
	width: 80%;

  border-bottom: calc(0.1 * var(--x)) solid;
}

h3 {
	margin: calc(1.5 * var(--x)) auto calc(-0.4 * var(--x));
  padding-bottom: 0;

  font-weight: bolder;
}

h4 {
	margin: calc(1.5 * var(--x)) auto calc(-0.4 * var(--x));
  padding-bottom: 0;
}

hr {
  max-width: 75%;
  height: 0;
  margin: calc(1.8 * var(--x)) auto calc(1 * var(--x));

  border-top: calc(0.1 * var(--x)) solid;
  border-bottom: 0;
  border-left: none;
  border-right: none;
}

table {
  width: 100%;
  margin: calc(1 * var(--x)) auto;

  font-size: 100%;
  border-collapse: collapse;
  border-style: hidden;
  line-height: inherit;
}

table thead {
  font-size: 110%;
}

table td {
	padding: calc(1 * var(--x));
}

table th {
  padding: calc(0.8 * var(--x));

  border: calc(0.1 * var(--x)) solid;
  border-left: none;
  border-right: none;
}

table tr td {
  padding: calc(0.4 * var(--x));
}

table tr:nth-child(odd) td {
  background-color: transparent;
}

table tr:nth-child(even) td {
  background-color: rgba(0, 0, 0, 15%);
}

blockquote {
  padding-left: 20px;
  margin: 30px 0;

  font-style: italic;
  border-left: 4px solid;
}

img {
  display: block;
  max-width: 100%;
  margin: 20px auto;
}

img+br {
  display: none;
}

img+br+em,
img+em {
  display: block;
  margin: -10px auto 20px;

  text-align: center;
}
