h2 {
	margin-bottom: calc(-1.8 * var(--x));

	border: none;
}

h2+p {
  margin: calc(2 * var(--x)) 0 0;
  padding-top: 0;
	padding-bottom: calc(0.3 * var(--x));
	width: 80%;
	
	border-bottom: calc(0.1 * var(--x)) solid;
	
	text-indent: 0;
}
